*{
    font-family: robotoregular
}

@font-face {
    font-family: 'robotoblack';
    src: url('Fonts/roboto/Webfontkit/roboto-black-webfont.woff2') format('woff2'),
         url('Fonts/roboto/Webfontkit/roboto-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'robotoblack_italic';
    src: url('Fonts/roboto/Webfontkit/roboto-blackitalic-webfont.woff2') format('woff2'),
         url('Fonts/roboto/Webfontkit/roboto-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotobold';
    src: url('Fonts/roboto/Webfontkit/roboto-bold-webfont.woff2') format('woff2'),
         url('Fonts/roboto/Webfontkit/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotobold_italic';
    src: url('Fonts/roboto/Webfontkit/roboto-bolditalic-webfont.woff2') format('woff2'),
         url('Fonts/roboto/Webfontkit/roboto-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotoitalic';
    src: url('Fonts/roboto/Webfontkit/roboto-italic-webfont.woff2') format('woff2'),
         url('Fonts/roboto/Webfontkit/roboto-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotolight';
    src: url('Fonts/roboto/Webfontkit/roboto-light-webfont.woff2') format('woff2'),
         url('Fonts/roboto/Webfontkit/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotolight_italic';
    src: url('Fonts/roboto/Webfontkit/roboto-lightitalic-webfont.woff2') format('woff2'),
         url('Fonts/roboto/Webfontkit/roboto-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotomedium';
    src: url('Fonts/roboto/Webfontkit/roboto-medium-webfont.woff2') format('woff2'),
         url('Fonts/roboto/Webfontkit/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotomedium_italic';
    src: url('Fonts/roboto/Webfontkit/roboto-mediumitalic-webfont.woff2') format('woff2'),
         url('Fonts/roboto/Webfontkit/roboto-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotoregular';
    src: url('Fonts/roboto/Webfontkit/roboto-regular-webfont.woff2') format('woff2'),
         url('Fonts/roboto/Webfontkit/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotothin';
    src: url('Fonts/roboto/Webfontkit/roboto-thin-webfont.woff2') format('woff2'),
         url('Fonts/roboto/Webfontkit/roboto-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotothin_italic';
    src: url('Fonts/roboto/Webfontkit/roboto-thinitalic-webfont.woff2') format('woff2'),
         url('Fonts/roboto/Webfontkit/roboto-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
